absl-py
anyio
apify_client
apify_shared
asgiref
astunparse
attrs
beautifulsoup4
cachetools
certifi
cffi
charset-normalizer
cryptography
defusedxml
dj-rest-auth
Django
django-allauth
django-cors-headers
django-rest-auth
django-rest-framework
djangorestframework
djangorestframework-simplejwt
flatbuffers
gast==0.4.0
git-filter-repo
google-auth
google-pasta
grpcio
gunicorn
h11
h5py
httpcore
httpx
idna
instaloader
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml-dtypes
more-itertools
namex
numpy
oauthlib
opt_einsum
optree
outcome
packaging
pillow
protobuf  # גרסה לא מוגדרת — pip יבחר תואמת
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
Pygments
PyJWT
PySocks
python-decouple
python-dotenv
python3-openid
requests
requests-oauthlib
rich
rsa
selenium
setuptools
six
sniffio
social-auth-app-django
social-auth-core
sortedcontainers
soupsieve
sqlparse
tensorboard
tensorboard-data-server
tensorflow
termcolor
trio
trio-websocket
typing_extensions  # גרסה לא מוגדרת — pip יבחר תואמת
tzdata
urllib3
webdriver-manager
websocket-client
Werkzeug
wheel
wrapt
wsproto
